$sidebar-background-color: #343434;
$project-structer-color: #252526;
$open-charts-backgound-color: #343434;
$chart-backgound-color: #1E1E1E;
$settings-background-color: #2583c2;

$left-stick-color: white;